.slide_show {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    padding-top: 3rem;
    margin-left: -30px;
    cursor: pointer;
    }

@media screen and (max-width: 576px) {
.slide_show {
  }
}