.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.divider {
    width: 35%;
}

.titles {
    color: blanchedalmond;
    text-align: center;
    font-family: Lobster;
    padding: 0 2rem 2rem;
}

.content {
    align-self: center;
    border-bottom-style: double;
    color: blanchedalmond;
    font-family: Lobster;
    padding: 0 20% 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {

    .wrapper {
        padding: 1rem 0;
    }

    .divider {
        width: 70%;
    }

    .content {
        border-bottom-style: none;
        padding: 0 2rem;
    }

}