.mobileMenu {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    z-index: 2;
}

.mobileNav {
    display: flex;
    flex-direction: column;
}

.mobileLink {
    color: rgb(250, 216, 132);
    font-size: 1.5rem;
    padding-top: 2.8rem;
}

.mobileNav:hover,
.mobileNav:active,
.mobileNav.active {
  color: gold;
}

