.mobileMenu {
    align-items: center;
    background-color: transparent;
    display: inline-block;
    flex-wrap: wrap;
    font-family: 'Lobster';
    padding: 0.5rem 1rem;

}

.mobileNav {
    display: flex;
    justify-content: flex-end;

}

.mobileLink {
    color: rgb(250, 216, 132);
    font-size: 1.5rem;
}

.mobileNav:hover,
.mobileLink:active,
.mobileLink.active {
  color: gold;
}

@media screen and (max-width: 576px) {

    .mobileMenu {
          display: inline-block;
      }
  
  }