.mobileMenu {
    align-items: center;
    background-color: brown;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

.mobileNav {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.mobileLink {
    color: cornsilk;
    font-size: 1.5rem;
}

.mobileLink:hover,
.mobileLink:active,
.mobileLink.active {
  color: gold;
}

@media screen and (max-width: 576px) {

    .mobileMenu {
          display: inline-block;
      }
  
  }