.mobileMenu {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    z-index: 2;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.mobileLink {
    color: rgb(250, 216, 132);
    font-size: 2rem;
    padding: 2rem 0;
}

.mobileNav:hover,
.mobileNav:active,
.mobileNav.active {
  color: gold;
}

