.mobileMenu {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.mobileNav {
    display: flex;
    flex-direction: column;

}

.mobileLink {
    color: rgb(250, 216, 132);
    font-size: 1.5rem;
    padding-top: 2.8rem;
}

.mobileNav:hover,
.mobileNav:active,
.mobileNav.active {
  color: gold;
}

