.mainNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.header {
    background-color: transparent;
    display: flex;
    position: relative;
}

.button {
    display: block;
    position: absolute;
    background-color: transparent;
    color: darkgoldenrod;
    border: none;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

}

.button :hover {
    color: gold;
}

@media screen and (max-width: 576px) {
  .button {
    top: 1.2rem;
    right: .5rem;
    }
}