.columnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem 2rem;

}

.columnLeft {
    color: blanchedalmond;
    text-align: center;
    font-family: Lobster;
    padding: 0 2rem;

}

.columnRight {
    align-self: center;
    color: blanchedalmond;
    font-family: Lobster;
    padding: 0 2rem;
}