.columnWrapper {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 2rem;

}

.columnLeft {
    /* border: .02px solid blanchedalmond;
    border-radius: 100px; */
    color: blanchedalmond;
    text-align: center;
    flex: 2;
    font-family: Lobster;
    padding: 2rem;

}

.columnRight {
    align-self: center;
    /* border: .02px solid blanchedalmond;
    border-radius: 100px; */
    color: blanchedalmond;
    flex: 3;
    font-family: Lobster;
    padding: 3rem 0 3rem 2rem;
}