
.nameHeaderWrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

.nameHeader {
    color: goldenrod;
    font-family: 'Chango';
    font-size: 8rem;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px gold;

    
}


@media screen and (max-width: 700px) {
    .nameHeader {
        font-size: 6rem;
    }
}

@media screen and (max-width: 576px) {

    .nameHeader {
        font-size: 3rem;
      }
  
  }