.wrapper {
    background-color: black;
    padding: 2rem;
    width: 100vw;
    text-align: center;
    font-family: 'Lobster';
}

.footerText {
    color: goldenrod;
}

.list {
    display: flex;
    justify-content: center;
}

.link {
    color: goldenrod;
    font-size: 2rem;
}