
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Quicksand:wght@300&display=swap");
@import url("/public/Bratsy.ttf");

@font-face {
  font-family: "Bratsy";
  src: url("../public/Bratsy.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Chango, Quicksand, Bratsy ;
}

a {
  font-family: Chango;
  color:goldenrod;  
  text-decoration: none;
}

a:hover,
a:active,
a.active {
  color: gold;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-family: Chango;
  font-size: 2.5rem;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

h2 {
  font-family: Chango;
  font-size: 2rem;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

p {
  font-family: Chango;
  font-size: 1.2rem;
}

@media screen and (max-width: 576px){
  p {
    font-size: 1.2rem;
  }
}