
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Lobster;
}

a {
  color: rgb(183, 149, 1);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

h2 {
  font-size: 2rem;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

p {
  font-size: 1.5rem;
}

@media screen and (max-width: 576px){
  p {
    font-size: 1.2rem;
  }
}